* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-size: 16px;
}

main {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

header {
    padding: 10px 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
}

#nav-list {
    display: flex;
    justify-content: space-around;
}

#nav-list a:link {
    text-decoration: none;
}


#form-container, #form-search-results {
    margin: 0 auto;
    height: 50vh;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

select, input[type=text], input[type=button], input[type=reset] {
    width: 80vw;
    font-size: 100%;
}

legend, input, select {
    margin-bottom: 8px;
    font-size: 100%;
}

section {
    padding: 0 10px;
}

.movie-display {
    display: inline-block;
    width: 100vw;
}

#js-movie-one, #js-movie-two {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
}

.js-movie-details {
    display: flex;
    margin: 20px 0;
}

.js-movie-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.js-movie-plot {
    text-align: left;
}

.js-poster-container {
    width: 40vw;
}

.js-movie-poster {
    max-width: 40vw;
    height: auto;
}

.js-trailer-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    z-index: -1;
}

.js-movie-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#scorecard {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#score-titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#score-titles li {
    width: 33%;
}

#scores {
    display: flex;
    justify-content: space-around;
}

#js-score-one, #js-score-two, #raters {
    width: 33%;
}

.js-movie-rating-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-full-screen {
    height: 70vh;
}

@media screen and (min-width: 760px) {
    section {
        display: hidden;
    }

    a[href="#js-movie-one"], a[href="#js-movie-two"]  {
        display: none;
    }

    main {
        font-size: 24px;
    }

    h1 {
        font-size: 48px;
    }

    select, input[type=text], input[type=button], input[type=reset], button {
        max-width: 625px;
    }

    .movie-display {
        display: flex;
        justify-content: space-around;
    }

    #js-movie-one, #js-movie-two {
        width: 45vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    p .tagline {
        display: inline-block;
        margin: 0 auto;
     }

    .js-movie-title {
        min-height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     
    .js-movie-details {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0;
        height: 65%;
    }
    
    .js-movie-text {
        display: unset;
        margin: 10px 0;
    }
    
    .js-poster-container {
        width: unset;
    }
    
    .js-movie-poster {
        max-width: unset;
        height: unset;
    }
}
/* 
@media screen and (min-width: 1030px) {
    
} */