* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    text-align: center;
    font-size: 16px;
    font-family: montserrat;
    color: #212c2c;
    height: 100%;
}

.gloves-background {
    background-image: linear-gradient(rgba(233, 238, 231, 0.9), rgba(233, 238, 231, 0.5)), url(images/boxing_gloves.jpg);
    background-image: -webkit-linear-gradient(rgba(233, 238, 231, 0.9), rgba(233, 238, 231, 0.5)), url(images/boxing_gloves.jpg);
    background-image: -moz-linear-gradient(rgba(233, 238, 231, 0.9), rgba(233, 238, 231, 0.5)), url(images/boxing_gloves.jpg);
    background-size: cover;
}

.cage-background {
    background-image: linear-gradient(rgba(233, 238, 231, 0.8), rgba(233, 238, 231, 0.8)), url(images/chain_link.jpg);
    background-image: -webkit-linear-gradient(rgba(233, 238, 231, 0.8), rgba(233, 238, 231, 0.8)), url(images/chain_link.jpg);
    background-image: -moz-linear-gradient(rgba(233, 238, 231, 0.8), rgba(233, 238, 231, 0.8)), url(images/chain_link.jpg);
    background-size: cover;
}

main {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

header {
    padding: 10px 0;
}

h1 {
    font-family: anton;
    font-size: 42px;
    text-transform: uppercase;
}

h3 {
    font-family: anton;
    text-transform: uppercase;
}

.tagline {
    margin: 0px 20px;
    color:#d80731;
    font-weight: bold;
 }

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 999;
}

#nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

a {
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: unset;
}

a:hover {
    font-weight: bolder;
    color: #d80731;
}

#form-container, #form-search-results {
    margin: 0px 20px;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;
}

select, input[type=text] {
    width: 80vw;
}

label {
    font-family: anton;
    font-size: 20px;
    text-align: left;
}

.champion-color, #js-movie-one .js-movie-title {
    color: #d80731;
}

.contender-color, #js-movie-two .js-movie-title {
    color: #0a4bd6;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #212c2c;
}

input[type=text], select, textarea {
    font-size: 100%;
    font-family: montserrat;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

#movie-one:focus {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(216, 7, 49, .2), rgba(216, 7, 49, .1));
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(216, 7, 49, .2), rgba(216, 7, 49, .1));
    background: -moz-linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(216, 7, 49, .2), rgba(216, 7, 49, .1));
    outline: none;
}

#movie-two:focus {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(10, 75, 214, .2), rgba(10, 75, 214, .1));
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(10, 75, 214, .2), rgba(10, 75, 214, .1));
    background: -moz-linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(10, 75, 214, .2), rgba(10, 75, 214, .1));
    outline: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input[type=button], input[type=submit], input[type=reset], button {
    font-family: montserrat;
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    border: #d80731 solid 2px;
    border-radius: 16px;
    padding: 8px 16px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
    color: #ffffff;
    background: #d80731;
    font-weight: bold;
}

section {
    padding: 0 10px;
}

#movie-display {
    width: 100vw;
}

#js-movie-one, #js-movie-two {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
}

.js-movie-details {
    display: flex;
    margin: 20px 0px;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
}

.js-movie-title {
    font-family: anton;
    color: #d80731;
    text-transform: uppercase;
}

.js-movie-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
    color: #212c2c;
    padding: 6px;
}

.js-movie-plot {
    text-align: left;
}

.js-poster-container {
    margin-top: -20px;
    width: 40vw;
}

.js-movie-poster {
    max-width: 40vw;
    height: auto;
    border-radius: 6px;
}

.js-trailer-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    background: #ffffff;
    -webkit-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.8);
}

.js-movie-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.js-score-flex {
    margin: 0px 10px;
    margin-bottom: 30px;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 20px -2px rgba(0,0,0,0.7);
}

#scorecard h3 {
    margin-bottom: 10px;
}

#score-titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#score-titles li {
    width: 33%;
}

#scores {
    display: flex;
    justify-content: space-around;
}

#js-score-one, #js-score-two, #raters {
    width: 33%;
}

.js-movie-rating-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-full-screen {
    height: 70vh;
}

.winner {
    font-size: 120%;
    font-weight: bolder;
}

footer {
    color: #081c24;
}

@media screen and (min-width: 760px) {
    section {
        display: hidden;
    }

    #nav-list {
        font-size: 20px;
    }

    a[href="#js-movie-one"], a[href="#js-movie-two"]  {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    .tagline {
        font-size: 32px;
        width: 66vw;
        margin: 0 auto;
    }

    .tagline, #form-container, #form-search-results {
        width: 70vw;
        margin: 0 auto;      
    }

    label {
        font-size: 32px;
    }
    
    legend {
        font-size: 36px;
    }
    
    input[type=submit], input[type=button], input[type=reset], button {
        font-size: 32px;
        border-radius: 20px;
        padding: 10px 20px;
    }

    select, input[type=text] {
        width: 65vw;
    }

    .movie-display {
        display: flex;
        justify-content: space-around;
    }

    #js-movie-one, #js-movie-two {
        width: 45vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .js-movie-title {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     
    .js-movie-details {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0;
        height: 65%;
    }
    
    .js-movie-text {
        display: unset;
        margin: 10px 0;
        font-size: 20px;
    }

    .js-movie-info {
        margin-bottom: 10px;
    }
    
    .js-poster-container {
        width: unset;
    }
    
    .js-movie-poster {
        max-width: unset;
        height: unset;
    }

    #score-titles {
        font-size: 32px;
    }

    #scores {
        font-size: 28px;
    }
}

@media screen and (min-width: 1030px) {
    .js-movie-text {
        font-size: 24px;
        margin: 20px;
    }

    h2 {
        font-size: 48px;
    }

    .js-movie-info {
        margin-bottom: 20px;
    }

    .js-movie-plot {
        line-height: 30px;
    }
}